---
layout: page
tagline:
---
<!--
<div class="btn-group btn-group-justified">
  {% for category in site.categories %}
    <a href="https://kingbbode.github.io/categories.html#{{ category[0] | replace:' ','-' }}-ref" class="btn btn-default">
    <a href="javascript:;" class="btn btn-default">
      {{ category[0] | capitalize }} <span class="badge pull-right">{{ category[1].size }}</span>
    </a>
  {% endfor %}
</div>
<div class="progress">
  {% for category in site.categories %}
    {% if forloop.index == 1 %}
      {% assign color = 'success' %}
    {% elsif forloop.index == 2 %}
      {% assign color = 'warning' %}
    {% else %}
      {% assign color = 'danger' %}
    {% endif %}
    <div class="progress-bar progress-bar-{{color}}" style="width: 33.3%">
      {{ category[0] | capitalize }} <span class="badge pull-right">{{ category[1].size }}</span>
    </div>
  {% endfor %}
</div>
-->
<div class='index_header' style="margin-top: 10px;">
  <div class="row">
    <div class="col-xs-3">
      <a href="{{ site.BASE_PATH }}/jwp"><strong>패캠JWP</strong></a>
    </div>
    <div class="col-xs-9">
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ site.jwp.size }}" aria-valuemin="0" aria-valuemax="32" style="width: 100%">
          <span class="badge pull-right">{{ site.jwp.size | minus:'1' | divided_by:2 | plus:'1' }}주차</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-3">
      <a href="{{ site.BASE_PATH }}/algorithm"><strong>알고리즘</strong></a>
    </div>
    <div class="col-xs-9">
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ site.algorithm.size }}" aria-valuemin="0" aria-valuemax="50" style="width: {{ site.algorithm.size | times: 1.7 | plus:'15'  }}%">
          <span class="badge pull-right">{{ site.algorithm.size }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% for category in site.categories %}
    {% if forloop.index == 1 %}
      {% assign color = 'success' %}
    {% elsif forloop.index == 2 %}
      {% assign color = 'warning' %}
    {% else %}
      {% assign color = 'danger' %}
    {% endif %}
  <div class="row">
    <div class="col-xs-3">
      <a href="{{ site.BASE_PATH }}/categories.html#{{ category[0] | capitalize | downcase }}-ref"><strong>{{ category[0] | capitalize }}</strong></a>
    </div>
    <div class="col-xs-9">
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-{{color}}" role="progressbar" aria-valuenow="{{ category[1].size }}" aria-valuemin="0" aria-valuemax="50" style="width: {{ category[1].size | times: 1.7 | plus:'15' }}%">
          <span class="badge pull-right">{{ category[1].size }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endfor %}
</div>
{% for post in paginator.posts %}

<article class="home">
  {% if post.categories[0] == 'jwp' %}
  <h5>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">[패스트캠퍼스 JWP] {{ post.title }}</a>
  </h5>
  {% else %}
  <h2>
    {% assign c = '' %}
    {% if post.categories[0] == 'seminar' %}
      {% assign c = '세미나' %}
    {% elsif post.categories[0] == 'algorithm' %}
      {% assign c = '알고리즘' %}
    {% elsif post.categories[0] == 'blog'%}
      {% assign c = '블로그' %}
    {% endif %}
    {% if post.outlink == 0 %}
      <a href="{{ site.BASE_PATH }}{{ post.url }}">[{{ c }}] {{ post.title }}</a>
    {% else%}
      <a href="http://kingbbode.tistory.com/{{ post.outlink }}" target="_blank">[{{ c }}] {{ post.title }}</a>
    {% endif %}
  </h2>

  <div>
    {% if post.fullview %}
      {{ post.content }}
    {% else %}
      {% if post.shortinfo %}
        {{ post.shortinfo }}
      {% elsif post.description %}
        {{ post.description }}
      {% else %}
        {{ post.excerpt }}
      {% endif %}
    {% endif %}
  </div>
  {% endif %}
  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>
</article>
<br>
<hr/>
<br>
{% endfor %}

<ul class="pager" style="margin-left: 10px;margin-right: 10px;">

  {% if paginator.previous_page %}
  <li class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="{{ site.BASE_PATH }}/">&larr; Newer</a>
    {% else %}
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; Newer</a>
    {% endif %}
  </li>
  {% else %}
  <li class="previous disabled">
    <a>&larr; Newer</a>
  </li>
  {% endif %}

  <li>
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ site.BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">Older &rarr;</a>
  </li>
  {% else %}
  <li class="next disabled">
    <a>Older &rarr;</a>
  </li>
  {% endif %}

</ul>
