<table cellpadding="0" cellspacing="0" table width="100%" style="margin-bottom: 20px; margin-top: 20px">
  <tr>
    <!-- Left adsense -->
    <td width="50%">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Git-Responsive-Left-New -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4621248074722027"
           data-ad-slot="2674330507"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
    <!-- Right adsense -->
    <td width="50%">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Git-Responsive-Right -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-4621248074722027"
           data-ad-slot="8500538103"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
  </tr>
</table>
